{% extends 'base/base.html' %}
{% load static %}

{% block title %}Event List{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-medkit"></i> {{user.clinica}}</h1>
        <p>Relatórios Financeiros</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Relatórios Financeiros</a></li>
    </ul>
{% endblock breadcrumb %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <span class="pull-right">
                                          <a  href="{% url 'recibo_add' %}">
                                              <button type="button" class="btn btn-secondary">
                                                <span class="fa fa-plus"></span> Adicionar
                                              </button>
                                          </a>

                                    </span>
                                  </div>
                                </div>

                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100.281px;">Nº</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 417.312px;">Nome</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 200.141px;">PROCEDIMENTO</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">DATA DO PAGAMENTO</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">VALOR</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 180.141px;">RECIBO</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for object in object_list %}
                                            {% if user.id == object.profissional.id %}
                                            <tr role="row" class="odd">
                                                <td class="sorting_1">{{ forloop.counter }}</td>
                                                <td><a class="text" href="{% url 'recibo_edit' object.paciente.id %}">{{ object.paciente.nome }}</a></td>
                                                <td>{{ object.procedimento.procedimeto }}</td>
                                                <td>{{ object.data }}</td>
                                                <td>{{ object.valor}}</td>
                                                 {% if object.recibo  %}
                                                    <td class="text-truncate">
                                                        <a target="_blank" type="button" href="{% url 'recibo_detail' object.id %}">
                                                            <button type="button" class="btn btn-dark">
                                                               Recibo
                                                            </button>
                                                        </a>
                                                      </td>
                                                {% else %}
                                                    <td class="text-truncate">
                                                      <a class="text-dark" href="#">-</a>
                                                    </td>
                                                    <td class="text-truncate">

                                                    </td>
                                                  {% endif %}
                                            </tr>
                                            {% else %}

                                            {% endif %}
                                        {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
